{% extends 'admin_kaspi/layout/layout.html' %}
{% block 'content' %}
            <div class="page-content">
                <div class="container-fluid">
                    
    <!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0 font-size-18">Настройки</h4>
        </div>
    </div>
</div>
<!-- end page title -->    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title mb-4">Изменить Настройки</h4>
                    <form action="{% url 'admin_settings_update' %}" method="POST">
                        {% csrf_token %}
                        <div class="row mb-4">
                            <label for="copyright" class="col-form-label col-lg-2">Copyright</label>
                            <div class="col-lg-10">
                                <input id="copyright" name="copyright" type="text" class="form-control" value="{{settings.copyright}}"
                                    placeholder="Copyright...">
                            </div>
                        </div>
                        <div class="row mb-4">
                            <label for="token" class="col-form-label col-lg-2">Token</label>
                            <div class="col-lg-10">
                                <input id="token" name="token" type="text" class="form-control" value="{{settings.token}}"
                                    placeholder="Token...">
                            </div>
                        </div>
                        <div class="row mb-4">
                            <label for="tag" class="col-form-label col-lg-2">Тег</label>
                            <div class="col-lg-10">
                                <input id="tag" name="tag" type="text" class="form-control" value="{{settings.tag}}"
                                    placeholder="Тег...">
                            </div>
                        </div>
                    
                    <div class="row justify-content-end">
                        <div class="col-lg-10">
                            <button type="submit" class="btn btn-primary">Изменить</button>
                        </div>
                    </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- end row -->

                </div>
                <!-- container-fluid -->
            </div>
{% endblock %}
