{% extends 'admin_kaspi/layout/layout.html' %}
{% block 'content' %}

    <div class="page-content">
        <div class="container-fluid">

            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                        <h4 class="mb-sm-0 font-size-18">Пользователи</h4>
                    </div>
                </div>
            </div>
            <!-- end page title -->

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">

                            <h4 class="card-title">Пользователи</h4>

                            <div class="table-responsive">
                                <table class="table table-editable table-nowrap align-middle table-edits">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Username</th>
                                            <th>Email</th>
                                            <th>Роль</th>
                                            <th>Активен</th>
                                            <th>Изменить</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for user in users %}
                                        <tr data-id="{{user.id}}">
                                            <td data-field="id" style="width: 80px">{{user.id}}</td>
                                            <td data-field="name">{{user.username}}</td>
                                            <td data-field="email">{{user.email}}</td>
                                            {% if user.is_superuser %}<td data-field="role">Администратор</td>{% else %}<td data-field="role">Пользователь</td>{% endif %}
                                            {% if user.check_active %}<td data-field="active">Активен</td>{% else %}<td data-field="active">Неактивен</td>{% endif %}
                                            <td style="width: 100px">
                                                <a class="btn btn-outline-secondary btn-sm edit" href="{% url 'admin_user_edit' id=user.id %}" title="Edit">
                                                    <i class="fas fa-pencil-alt"></i>
                                                </a>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                    </table>
                            </div>

                            {% with users as page %}
                            {% include 'admin_kaspi/layout/pagination.html' %}
                            {% endwith %}

                        </div>
                    </div>
                </div> <!-- end col -->
            </div> <!-- end row -->

        </div> <!-- container-fluid -->
    </div>

{% endblock %}